<div>

<h2 align="center" size="16" color="Red"><font size="16" color="Red"> Error!!</h2></font>

<p align="center"> Go back and re-submit. <br>

Please note that pubs can only vote once.<br>
Pubs cannot vote for themselves.<br>
Pubs cannot vote for same pub more than once.<br></p>



</div>