<div>
  <% @votes.each do |vote| %>
  <a>Votes placed by: <%= vote.find_pub(vote.voted_by).name %>
  </a>  First vote: <%= vote.find_pub(vote.first).name %>
  </a>  Second vote: <%= vote.find_pub(vote.second).name%>
  </a>  Third vote: <%= vote.find_pub(vote.third).name %>
  <br><hr>
  <% end %>
<br>
</div>

<a href="/votes/new">Add another vote</a><br>