<div align="center">
  <% @pubs.each do |pub| %><br>
  <a href="/pubs/<%= pub.id  %>"><%= pub.name %></a><br> <%= pub.address %><br><!-- <hr> -->
  <% end %>
<br>
  <a href="/pubs/new">Add new pub</a><br>
  
</div>
