<h2>Add a Pub</h2>

<form action="/pubs" method="post">

  <label for="name">Name:</label>
  <input type="text" name="name" id ="name"><br>

  <label for="address">Address:</label>
  <input type="text" name="address" id ="address"><br>
  <p>For the Area_id, please enter a number. If postcode is EH3, enter 3.  If postcode is EH10, enter 10.</p>
  <label for="area_id">Area_id:</label>
  <input type="text" name="area_id" id ="area_id">
  <br>

  <input type='submit' value="Add Pub">
</form>


<br>
<br>
<a href="/">Back to </a>